.wrapper {
    width: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
}

.inputText {
    width: 14rem;
    background-color: #d6d6d6;
    font-size: 1rem;
    padding: 8px 10px;
    border-radius: 8px;
    border: none;
    font-family: sans-serif;
    font-weight: 600;
}
 
.input {
    display: flex;
    gap: 8px;
}

.addButton {
    padding: 0 12px;
    font-weight: 900;
    text-transform: uppercase;
    background-color: #161313;
    color: #f0f020;
    border: none;
    border-radius: 8px;
}

.taskItems {
   display: flex;
   flex-direction: column;
   gap: 10px;
   width: 100%;
   align-self: flex-start;
   list-style: none;
   font-family: sans-serif;
   font-weight: 600;
   font-size: 1.2em;


}

.taskItem {
    display: flex;
    justify-content: space-between;
    border: 2px solid #161616;
    padding: 10px 20px;
}

.delButton {
    border: none;
    padding: 5px 10px;
    border-radius: 8px;
    background-color: #161313;
    color: #f0f020;
    font-weight: 600;
    text-transform: uppercase;
}

.highlighted {
    color: red;
}